/* --------------
  Progress bar
 ----------------*/
#nprogress {
  pointer-events: none;
}
#nprogress .bar {
  background: #29d;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  border: 1px solid #29d!important;
  width: 100%;
  height: 1px!important;
}
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 1px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}
.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* ---------
    HEADER
----------- */
.dk-header-outer-container{
  height: 55px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  background-color: white;
  box-shadow: 0 0.15rem 0.5rem #d9d9d9;
}
.dk-header-title{
  font-size: 32px;
  text-align: center!important;
  font-weight: 200;
  letter-spacing: 4px;
  padding-top: 10px;
}
@media (min-width: 767px) and (max-width: 840px) {
.dk-header-title{
  font-size: 26px;
  text-align: center!important;
  font-weight: 200;
  letter-spacing: 4px;
  color:black!important;
  padding-top: 15px;
  }
}
.dk-header-button{
  padding: 15px 10px 10px 40px;
}
.dk-header-right-end{
  margin-top: 20px!important;
  background-color: grey!important;
}
.dk-header-col-2{
  margin-top: 14px;
}
.dk-header-col-3{
  margin-top: 0px;
}
.dk-header-my-acc-btn{
  background-color: #2B2B52!important;
  color: white!important
}

.mb-header-outer-container{
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  right: 0px;
  background: white;
  box-shadow: 0 0.15rem 0.5rem #d9d9d9 !important;
  padding: 15px;
}
.mb-header-drawer-btn{
   position: fixed;
   right: 10px!important;
   top: 8px;
}
.mb-header-drawer-icons{
   font-size: 40px!important;
}
.mb-header-title{
   font-size: 20px;
}




/* ----------
   LAYOUT
------------ */
.layout-container{
  padding-bottom: 70px;
  padding-top: 55px;
  min-height: 70vh;
}


/* --------------
 GENERAL STYLING
---------------- */
.col{
  padding-left: 0px!important;
  padding-right: 0px!important;
}
.ant-drawer-header{
  padding: 16px 20px!important;
}
.ant-drawer-close{
  padding: 16px!important;
}
.css-1xefn4c{
  background-color:#2B2B52!important;
}
.css-17c5le2{
  background-color:#2B2B52!important;

}
.css-1f3y7dr{
  background-color:#2B2B52!important;

}
.row{
  margin-left: 0px!important;
  margin-right: 0px!important;
}
.css-6cthfa{
  background-color:#2B2B52!important;
}
.css-1ga4kqw{
  border-color: black!important;
  color: black!important;
}
.css-uncjab{
  border-color: black!important;
  background-color: #2B2B52!important;
  color: white!important;
}
.col-md-4{
  padding-left: 0px!important;
  padding-right: 0px!important;
}
.col-md-8{
  padding-left: 0px!important;
  padding-right: 0px!important;
}
.col-md-7{
  padding-left: 0px!important;
  padding-right: 0px!important;
}
.MuiList-root{
  z-index: 200!important;
}
.ant-btn-background-ghost{
  border: 0px!important;
  color: black!important;
}

.MuiAccordion-root{
  box-shadow: 0 0.1rem 0.2rem #d9d9d9 !important;

}
.container-fluid{
  padding-left: 0px!important;
  padding-right: 0px!important;
}


/* ----------------
   HOME COMPONENT
------------------ */
.dk-home-outer-1-container{
  padding-top: 0px;
  min-height: 70vh;
}
.dk-home-outer-2-container{
  padding-top: 70px;
  padding-bottom: 70px;
  background-color:#f5f5f5!important;
}
.dk-home-outer-8-container{
  min-height: 100vh;
  padding-top: 40px;
  padding-bottom: 40px;
}
.home-dk-step-container{
  box-shadow: 0 0.15rem 0.5rem #d9d9d9 !important;
  min-height: 230px;
  padding: 10px;
  background-color: white!important;
  min-width: 230px!important;
  margin:15px;
}
 .dk-home-inner-container-1-title{
   font-size: 30px;
   padding-top: 20px;
   padding-bottom: 20px!important;
   color: #2B2B52!important;
   font-weight: 900;
   text-align: center;
 }
 .home-hiw-step-heading{
   margin-top: 25px;
  font-size: 23px;
  font-weight: 500;
 }
 .home-hiw-desc{
   padding-top: 6px;
   font-size: 15px;
   color: black;
   text-align: center;
 }
 .home-hiw-step{
   font-weight: 900;
   font-size: 15px;
   color: white!important;
   background-color: #30336B;
   border-radius: 50%;
   /* border: 1px solid black; */
   padding: 6px 11px 6px 11px;
 }
 .home-hiw-icons{
   font-size: 50px;
   color: #262626
 }
 .home-hiw-icons-container{
   padding: 35px 20px 35px 20px!important;
   border-radius: 10px;
   background-color: white;
   box-shadow: 0 0.15rem 0.5rem #d9d9d9;
   margin-bottom: 20px;
 }
/* .dk-home-inner-container-3{;
  position: absolute;#30336B
  width: 100%;
  height: 100px;
  margin-left: 20px;
  margin-right: 20px;
  background-color:grey!important;
} */
.home-dk-step-title{
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.dk-home-outer-2-title{
  text-align: center;
  font-size: 45px;
  font-weight: bolder;
  margin-bottom: 30px;
}
.dk-home-inner-container-start{
  padding: 20px;
  background-color:white;
  min-width: 360px!important;
  max-width: 400px!important;
  min-height: 500px!important;
}
.dk-home-inner-container-description{
  min-width: 360px!important;
  max-height: 520px!important;
}

@media (min-width: 1000px) {
 .dk-home-inner-container-start{
  margin-right: 0px;
  }
  .dk-home-inner-container-description{
  margin-right: 0px;
  }
}
.dk-home-inner-container-start-btn100{
  background-color:#2B2B52!important;
  color: white!important;
  font-weight: bolder!important;
  width: 100%!important;
}
.dk-home-proceed-btn{
  margin-top: 30px;
}
.dk-home-phone-input-container{
  padding: 5px 0px 5px 0px;
  margin-top: 30px;
  text-align: center;
}
.dk-home-otp-input-container{
  margin-top: 30px;
}
.dk-home-phone-input{
  width: 280px!important;
  letter-spacing: 2px!important;
}
.dk-home-otp-input{
 text-align: center!important;
 width: 170px!important;
 letter-spacing: 10px!important;
}
.dk-home-user-info-title-container{
  text-align: center;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.dk-home-user-info-title{
  font-size: 25px;
  font-weight: 600;
}
.dk-home-inner-container-2{
  background-color:white;
  max-height: 500px;
  box-shadow: 0 0.15rem 0.5rem #d9d9d9 !important;
}
.dk-home-inner-container-1-icons{
  margin-right: 10px;
  min-width: 70px;
  padding: 10px!important;
  max-width: 110px!important;
  box-shadow: 0 0.15rem 0.5rem #d9d9d9 !important;
  max-height: 100px!important;
  border-radius: 12px;
}
.dk-home-inner-container-1-description{
  padding-left: 10px!important;
  font-size: 14px;
  color: black;
  min-height: 90px;
}
.dk-home-row-container{
  margin-bottom: 25px;
}
.home-dk-carousel{
  margin-bottom: 35px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0.15rem 0.5rem #d9d9d9 !important;
}
.home-dk-carousel-inner-container{
  border-radius: 10px;
  padding: 7px;
  height: 100px;
 }
 .dk-home-outer-3-container{
   min-height: 80vh;
 }
.dk-home-outer-3-title{
  font-size: 45px;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}
.home-dk-testimonial-inner-container{
  min-height: 400px!important;

}
.home-dk-testimonial-outer-container{
  min-height: 400px!important;
  background-color: #f0f0f0;
  padding: 20px;
}
.home-dk-testimonial-description{
  font-size: 15px;
  color: black;
  font-style: italic;
}
.home-dk-testimonial-img{
  background-color: white;
  margin: 10px;
  height: 200px;
  box-shadow: 0 0.15rem 0.5rem #d9d9d9 !important;
  border-radius: 100%;
  width: 200px;
}
.home-dk-testimonial-name{
  font-size: 20px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  padding: 10px;
}
.dk-home-outer-4-container{
  /* padding-top: 20%; */
  padding-bottom: 180px;
  width: 100%;
  /* min-height: 100vh; */
}
.dk-home-outer-4-inner-container{
  width: 100%;
  height: 320px;
  background: transparent;
  background-image: radial-gradient(hsla(0,0%,100%,.08) 15%,transparent 0),radial-gradient(hsla(0,0%,100%,.08) 15%,transparent 0);
  background-size: 25px 25px;
  padding-top: 100px;
}
.dk-home-outer-4-subtitle{
  font-size: 45px;
}
.dk-home-outer-4-text-container{
  padding-top: 150px;
  font-weight: 900;
}
.dk-footer-outer-container{
  background-color:  #fafafa;
  padding: 20px;
}
.dk-footer-copyrights-container{
  padding-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
  color: black;
  background-color:  #fafafa;
  text-align: center;
}
.dk-home-outer-5-container{
  min-height: 90vh;
}
.dk-home-outer-5-title{
  font-size: 45px;
  text-align: center;
}
.dk-home-container{
  min-height: 95vh;
  background-image: radial-gradient(hsla(0,0%,100%,.09) 15%,rgb(48 48 60) 0),radial-gradient(hsla(0,0%,10%,.9) 15%,#1e2023 0);
  background-size: 26px 25px;
  padding-bottom: 30px;
  padding-top: 30px;
}
@media (min-width: 767px) and (max-width: 910px) {
.dk-home-container{
  min-height: 110vh!important;
}
}
.dk-home-container-title{
 font-weight: 800!important;
  text-align: center;
  padding-bottom: 30px!important;
  color: white;
  padding: 5px;
  font-size: 30px;
  font-weight: 800;
}
.dk-home-desc-details{
  padding-right: 20px!important;
  font-size: 15px;
  color: white;
}
.dk-home-desc-container{
 padding-bottom: 30px;
}
.dk-home-desc-heading{
   font-weight: 700!important;
  font-size: 20px;
  color: white;
}

.mb-home-proceed-to-pay-container{
  padding: 10px;
  background-color: white!important;
  position: fixed;
  left: 0px!important;
  right: 0px!important;
  bottom: 0px!important;
}
.mb-home-proceed-btn{
 width: 100%!important;
}
.mb-home-phone-input{
 }
.mb-home-img-container{
  margin: 10px;
  margin-top: 20px;
  background-image: url('/two.svg');
  background-repeat: no-repeat;
}
.mb-drawer-menu-items{
  margin: 7px;
  font-size: 20px;
  border-bottom: 1px solid grey;
  width: 140px;
  text-align:  left;
}
.mb-home-heading{
  font-size: 25px;
  padding: 25px 5px 25px 5px;
  font-weight: bolder;
}
.mb-home-benefits{
  padding: 10px;
}
.mb-home-happy-users{
   margin-top: 100px;
   margin-bottom: 100px;
}
.dk-home-icons{
  font-size: 40px;
  color: white;
}



/* --------------
       Pay
________________ */
.dk-pay-outer-container{
  padding: 30px;
}
.dk-home-pay-now-btn{
  background-color: #2B2B52!important;
  color: white!important;
  font-weight: bold!important;
}
.dk-paynow-card{
  margin-top: 20px;
  min-height: 60vh;
  padding-bottom: 20px;
  box-shadow: 0 0.15rem 0.5rem #d9d9d9 !important;
}
.dk-pay-spinner{
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
}
.pay-now-field{
  margin: 7px!important;
}
.paynow-btn-container{
  background-color: grey;
  text-align: center;
  position: fixed;
  bottom: 0px!important;
  left: 0px!important;
  right: 0px!important;
}
.dk-pay-container{


}
.paynow-title{
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 20px 0px 20px 0px;
}
.pay-btn-container{
  padding-top: 10px;
}
.pay-now-form{
padding-right: 15px;
}
.pay-ifsc-details-container{
  margin-bottom: 15px;
  padding-left: 20px;
  color: black!important;
  padding-right: 20px;
  background-color: #f0f5ff;
}
.pay-ifsc-notfound-container{
  background-color: red;
  color: white!important;
  text-align: center;
  font-size: 12px;
  margin-left: 15px;
  margin-bottom: 10px;
  font-weight: bolder!important;
}


/* ---------------
  Transaction Card
------------------ */
.transaction-card{

  box-shadow: 0 0.15rem 0.5rem #d9d9d9;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  margin: 10px;
}
.transaction-card-status{
  padding: 0px 10px 0px 10px;
  margin-bottom: 4px;
}
.transaction-card-date{
  font-weight: bolder;
}
.transaction-card-space{
  padding: 2px;
}

.faqs-container{

  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 100vh;
}
.faqs-title{
  text-align: center;
  font-size: 55px;
  font-weight: 900!important;
  padding-bottom: 40px;
}
.faqs-question{
  font-size: 24px!important;
  font-weight: 900!important;

}
.faqs-answer{
  font-size: 19px!important;
  font-weight: 900!important;
  font-family: 'Judson-Bold'!important;
  color: #595959;

}



@font-face {
    font-family: 'Judson-Bold';
   src: url('/fonts/Judson-Bold.ttf');
}

@font-face {
     font-family: 'Roboto-Regular';
    src: url('/fonts/Roboto-Regular.otf');
}

@font-face {
     font-family: 'Roboto-Medium';
    src: url('/fonts/Roboto-Medium.otf');
}






/* -------------
  testimonial
  ------------- */
.testimonial-container{
  background-color: #fafafa;
    min-height:100vh;
    padding-top: 150px;
  }
.testimonial-title{
    font-size: 55px;
    margin-bottom: 40px;
    font-weight: 900;
    text-align: center;
  }
.carousel-root {
  width: 64% !important;
  margin: auto !important;
  margin-top: 3% !important;
}

.carousel .slide {
  background: #fff !important;
  color: black;
  height: 100%;
}

.carousel .slide img {
  width: 139px !important;
  border-radius: 50%;
}

.myCarousel {
  background: #fafafa;
  margin-top: -6%;
  width: 54%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  border: 1px solid #ddd;
  height: 286px;
}

.carousel .control-dots {
  padding-left: 5px !important;
  outline: 0;
  bottom: 5% !important;
}

.myCarousel h3 {
  color: #222;
  font-weight: 100;
  letter-spacing: 0.2px;
  margin-bottom: 4px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 17px;
}

.myCarousel h4 {
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 0;
  font-weight: 500;
  color: #787878;
  font-size: 14px;
}

.myCarousel p {
  font-weight: 100 !important;
  line-height: 29px !important;
  color: #222;
  font-size: 15px;
  font-family: sans-serif;
  max-height: 67px;
}

.myCarousel p:before {
  content: "“";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
}

.myCarousel p:after {
  content: "”";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
  line-height: 0;
}

.carousel .control-dots .dot {
  box-shadow: none !important;
  background: #454545 !important;
  outline: 0;
}

.carousel.carousel-slider .control-arrow {
  background: #000 !important;
  height: 50px !important;
  position: absolute;
  top: 35% !important;
}

.App {
  text-align: center;
}

@media only screen and (max-width: 934px) {
  .carousel-root {
    outline: 0;
    width: 93% !important;
    margin: auto !important;
  }

  .carousel.carousel-slider .control-arrow {
    display: none !important;
  }
  .myCarousel {
    background: #fafafa;
    margin-top: -9%;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    padding-bottom: 12.5%;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid #ddd;
    height: 269px;
  }

  .carousel .slide img {
    width: 24% !important;
    border-radius: 50%;
  }
}
